body {
  
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url(../public/img/bg-image.jpg);
  background-size: cover;
  background-position: center;
}
.weather-status{
  
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.weather-status > img{
  width: 10%;
}